html{
    font-size: 62.5% !important; //this makes each rem to be 10px when the font size of browser has been set to 16px
    height: auto !important;
}
body{
    // background: radial-gradient(at 60% 35%, #243a77, #110D1D);
    background: #14121c;
    background-repeat: no-repeat;
    height: auto !important;
    min-height: 100vh !important;
}
main{
    // max-width: 430px;
    max-width: 380px;
    padding: 30px 25px;
    // background: linear-gradient(to bottom, $main_background_from, $main_background_to);
    background-repeat: no-repeat;
}


nav.mini-nav{
    margin-bottom: 30px;

    .setting-around{
        padding: 15px;
        background-color: $setting_back;
        cursor: pointer;
    }
    h1{
        color: #fff;
        font-size: 2.4rem;
        font-weight: 700;
        height: 57px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.wallet-details{
    @include flex(column, none, center, none);
    span{
        @include typography(1.8rem, 500, $small-title, 2rem);
    }
    
    #coin-pic{
        border-radius: 100%;
        outline-offset: 4px;
        outline: 2px solid #F3BA2F;
    }

    .wallet-balance{
        @include flex(row, space-between, none, none);
        #balance{
            @include typography(3.2rem, 700, $white_text, 3.2rem);
        }
    }
}

.head-span{
    @include typography(1.8rem, 500, $small-title, none);
}

section.stakeSection{
    @include flex(column, none, center, none);
    padding: 27px;
    background-color: $part-back-gray;
    border-radius: 30px;

    #notice{
        @include typography(1.4rem, 400, $white_text, none);
        margin-top: 40px;
    }

    .input-container{
        @include flex(row, none, center, none);
        @include inputContainer();

        #StakeAmount{
            @include inputStyle();
        }

        .icon-svg{
            flex-shrink: 0;
        }

        .dollar-sign{
            @include typography(1.6rem, 700, $white_text, none);
            opacity: 0;
            margin-left: 20px;
        }

        .dollar-sign.focus{
            opacity: 1;
        }

        #coin-icon.focus{
            fill: $main_blue;
        }

    }

    .navigateBtn{
        @include CommonNavigate();

        img{
            transform: rotate(-90deg);
        }
        #navigateText{
            width: 140px !important;
        }
    }
    
    .quick-select{
        button{
            @include typography(2.4rem, 700, $small-title, none);
            border-radius: 20px;
            border: 1px solid #8C8CAB33;
            padding: 20px 0;
            transition: all linear 0.3s;
        }
        button:hover{
            color: $main_blue;
            border-color: $main_blue;
        }
    }
    
}

.input-container.focus{
    border-color: $main_blue !important;
}

#stake-btn{
    margin-top: 40px;
    padding: 15px 39px;
    border-radius: 25px;
    @include typography(1.6rem, 700, none, none);
    box-shadow: 0 0 15px #0C61EC57;
}

.fa-solid{
    font-family: "Font Awesome 6 Free" !important;
}