// Variables
$primary-color: #061936;
$secondary-color: #fff;
$accent-color: #bb133e;

// Mixins
@mixin hover-transform($transform: translateY(-0.5rem)) {
  transition: all 0.2s ease;
  &:hover {
    transform: $transform;
    cursor: pointer;
  }
}

@mixin smoothAppear($duration: 1s) {
  opacity: 0;
  animation: smoothAppear $duration ease-in-out forwards;
}

@keyframes smoothAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@mixin slideInLeft($duration: 1s) {
  opacity: 0;
  transform: translateX(-100%);
  animation: slideInLeft $duration ease-in-out forwards;
}


@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


@mixin slideInRight($duration: 1s) {
  opacity: 0;
  transform: translateX(100%);
  animation: slideInRight $duration ease-in-out forwards;
}


@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

// General Styles
body {
  background-color: $primary-color;
  color: $secondary-color;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#header {
  background-color: transparent;
  background-image: radial-gradient(at top center, #072149 0%, #06193600 45%);
  @include smoothAppear(2s);
  .icons {
    .icon {
      width: 55px;
      height: 55px;
      @include hover-transform();
    }
  }

  .profile-pic img {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    @include hover-transform(translateY(-1rem));
  }

  @media screen and (max-width: 600px) {
    .icons .icon {
      width: 55px;
      height: 55px;
    }
  }

  @media screen and (min-width: 440px) {
    .mt-tope-icons {
      margin-top: 0 !important;
    }
  }
}

.main-content {
  padding: 3rem 0;
  background-color: transparent;
  background-image: linear-gradient(180deg, #061a35 0%, #061a35ed 100%);
  .left-col{
    @include slideInLeft(1s);
  }
  .right-col{
    @include slideInRight(1s);
  }
  .main-title {
    font-size: 35px;
    font-weight: 800;
    line-height: 1.2em;
  }

  .buttons {
    .btn {
      font-weight: 800;
      color: $secondary-color;
      border-radius: 5px 5px 5px 5px;

      &-danger {
        background-color: $accent-color;
        border: none;
        &:hover {
          background-color: darken($accent-color, 10%);
        }
      }

      &-outline-light {
        border-color: $secondary-color;
        color: $secondary-color;
        &:hover {
          background-color: $secondary-color;
          color: $primary-color;
        }
      }
    }
  }

  .description {
    font-size: 1rem;
    line-height: 1.6;
    max-width: 500px;
    color: #e2e2e2;
    font-weight: 600;
    line-height: 1.7em;
  }

  .eagle {
    video {
      width: 100%;
      max-width: 580px;
    }
  }

  .background-video {
    z-index: -1;
  }
}

@media screen and (max-width: 500px) {
  h1.main-title {
    font-size: 30px !important;
    text-align: center;
  }
}

@media screen and (min-width: 600px) and (max-width: 700px) {
  .stars {
    width: unset !important;
    margin-top: -16%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1290px) {
  .main-content {
    .buttons {
      width: 100% !important;
    }
  }
}
@media screen and (min-width: 915px) {
  .stars {
    margin-top: -9% !important;
  }
}

.crypto-section {
  color: $secondary-color;
  padding: 50px 20px;
  text-align: center;
  position: relative;

  .container {
    max-width: 950px;
    margin: 0 auto;

    .header {
      border: 4px solid $accent-color;
      padding: 2rem 5rem;

      .stars {
        background-color: #061936e2;
        z-index: 10;
        margin-top: -11%;
        width: 61%;
      }

      .title {
        color: $secondary-color;
        font-size: 50px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 5px;
      }

      .subtitle {
        color: #e2e2e2;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 25px;
      }
    }
  }

  .addresses {
    margin-top: -2%;
    z-index: 10;

    .address-item {
      position: relative;
      cursor: pointer;
      border: 1px solid transparent;
      border-radius: 5px;
      transition: background-color 0.3s;
      font-size: 18px;
      font-weight: 600;

      code {
        font-size: 18px;
        color: $secondary-color;
      }

      &:nth-child(1) {
        background-color: #061936e2;
        width: 70%;
        font-weight: 800;
      }

      &:hover {
        background-color: #1e2a47;
        border-color: #e74d3c53;

        .address-text::after {
          opacity: 1;
        }
      }

      &.copied .address-text::after {
        content: "Copied";
        color: #00ff00;
        opacity: 1;
      }
    }

    .address-text::after {
      content: "Copy";
      position: absolute;
      right: 10px;
      font-size: 0.9rem;
      color: #e74c3c;
      opacity: 0;
      transition: opacity 0.3s;
    }
  }

  @media screen and (max-width: 600px) {
    .header {
      padding: 1rem !important;

      img {
        width: 99%;
      }

      .title {
        font-size: 30px !important;
      }
    }

    .addresses .address-item {
      font-size: 15px;

      &:nth-child(1) {
        width: 90% !important;
      }
    }
  }
}

//--------------------- Footer ---------------------------
// Variables
$bg-color: #0f1e3a;
$text-color: #ffffff;
$text-muted-color: #e2e2e2;
$btn-border-color: #ffffff;

// Footer Styling
.footer {
  color: $text-color;
  max-width: 1140px;
  margin: 0 auto;
  background-color: transparent;
  background-image: radial-gradient(
    at bottom center,
    #072149 0%,
    #06193600 45%
  );

  .footer-profile {
    .profile-img {
      width: 100px;
      height: 100px;
      filter: grayscale(1);
      @include hover-transform();
    }
  }

  .btn-outline-light {
    color: $text-color;
    border-color: $btn-border-color;
    border-width: 2px;
    @include hover-transform();
    &:hover {
      background-color: lighten($btn-border-color, 20%);
      color: $bg-color;
    }
  }

  .footer-email {
    color: $text-muted-color;
    font-size: 1.1rem;
  }

  .footer-icons {
    img {
      width: 35px;
      height: 35px;
      @include hover-transform();
    }
  }

  .footer-disclaimer {
    color: $text-muted-color;
    font-size: 0.95rem;
    line-height: 1.5;
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 400;
  }
}

// Responsive Design
@media (max-width: 768px) {
  .footer-profile .profile-img {
    width: 70px;
    height: 70px;
  }

  .footer-disclaimer {
    font-size: 0.7rem;
    line-height: 1.6rem;
  }
}

// ----------------- accordion ----------
#accordions-wrapper {
  background-color: transparent;

  .background-video {
    z-index: -1;
  }
  .custom-container {
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;

    .title {
      h2 {
        font-size: 35px;
        font-weight: 700;
      }
    }
    #accordionFirst,
    #accordionSecond {
      background-color: #061936e8 !important;
      --bs-accordion-bg: unset;
      --bs-accordion-border-radius: unset;

      .accordion-header {
        .accordion-button {
          color: $text-muted-color;
          font-weight: 700;
          font-size: 1.2rem;

          &::after {
            height: 12px;
            width: 12px;
            border: solid $accent-color;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 1px;
            transform: rotate(225deg);
            -webkit-transform: rotate(225deg);
            background-image: none !important;
          }
        }
        .accordion-button:not(.collapsed) {
          background-color: unset;
        }
        .accordion-button.collapsed {
          &::after {
            border: solid white;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
          }
        }
        .accordion-button:focus {
          box-shadow: none;
        }
      }
      .accordion-body {
        color: $text-muted-color;
        font-weight: 400;
        font-size: 18px;
        .link-wall {
          color: $accent-color;

          &:hover{
            color: #ff1d5e;
          }
        }
      }
    }

    .swiper-conatiner {
      margin: 6rem 0;
    }
    @media screen and (max-width: 500px) {
      .title {
        h2 {
          font-size: 22px;
          font-weight: 700;
        }
      }
      #accordionFirst,
      #accordionSecond {
        .accordion-header {
          .accordion-button {
            font-size: 17px;
          }
        }
      }
    }
  }
}

// ------------------ weekly spaces -------

// Variables
$bg-color: #0f1e3a;
$title-color: #ffffff;
$subtitle-color: #c9d1e4;
$card-bg-color: #1c2a48;
$text-color: #ffffff;
$link-color: #ff4d4d;
$link-hover-color: lighten($link-color, 20%);

// Weekly Spaces Section
.weekly-spaces {
  color: $text-color;

  background-image: linear-gradient(
      rgba(15, 30, 58, 0.9),
      rgba(15, 30, 58, 0.9)
    ),
    url("../assets/images/American-BG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;

  .section-title {
    color: $title-color;
    font-size: 45px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  .section-subtitle {
    color: $subtitle-color;
    margin-bottom: 2rem;
    color: #e2e2e2;
    font-size: 25px;
    font-weight: 400;
  }

  .host-card {
    padding: 1.5rem;
    border-radius: 10px;

    .host-img {
      width: 175px;
      height: 175px;
      border: 3px solid $text-color;
      @include hover-transform();
    }

    .host-name {
      font-size: 35px;
      font-weight: 700;
      margin-top: 1rem;
      color: $title-color;
    }

    .host-details {
      font-size: 1rem;
      color: $subtitle-color;
      background-color: #06193673;
      padding: 10px 20px 10px 20px;
      border-radius: 5px 5px 5px 5px;

      .host-link {
        color: $accent-color;
        text-decoration: none;
        font-weight: 700;
        &:hover {
          color: $link-hover-color;
        }
      }
    }
  }
}

// Responsive Design
@media (max-width: 768px) {
  .weekly-spaces .section-title {
    font-size: 2rem;
  }

  .weekly-spaces .host-card .host-img {
    width: 90px;
    height: 90px;
  }

  .weekly-spaces .host-card .host-name {
    font-size: 1.1rem;
  }
}

@media (max-width: 576px) {
  .weekly-spaces .section-title {
    font-size: 1.3rem;
  }

  .weekly-spaces .section-subtitle {
    font-size: 1rem;
  }

  .weekly-spaces .host-card .host-name {
    font-size: 1.2rem;
  }

  .weekly-spaces .host-card .host-details {
    font-size: 1rem;
  }
}
@media (min-width: 900px) {
  .host-details {
    width: 80%;
    margin: 0 auto;
  }
}

// ------------------- tokenomics --------------
// Variables
$primary-color: #061936;
$text-color: #ffffff;
$highlight-color: #2bd8ae;
$button-color: #ff1d5e;
$donation-box-border: #00ff84;

// Styles
.tokenomics-section {
  background-color: transparent;
  background-image: radial-gradient(at top center, #072149 0%, #06193600 45%);
  color: $text-color;

  .background-video {
    z-index: -1;
    width: 100%;
    left: 0;
  }
  .tokenomics-title {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 5px;
    font-weight: bold;
  }

  .supply-box {
    background-color: $text-muted-color;
    padding: 10px 20px;
    color: #333333;
    width: max-content;
    margin: 0 auto;
    border-radius: 6px;
    .supply-text {
      font-size: 28px;
      line-height: 28px;
      font-weight: bold;
    }
  }

  .fee-structure-title {
    font-size: 28px;
    line-height: 28px;
    font-weight: bold;
    margin-top: 1.5rem;
  }

  .taxed-text,
  .taxless-text {
    font-size: 16px;
    line-height: 24px;
    .highlighted {
      color: $button-color;
      font-weight: bold;
    }
  }

  .convert-btn {
    color: $accent-color;
    font-size: 15px;
    line-height: 15px;
    padding: 12px 24px;
    border: 1px solid $accent-color;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 1.5rem;
    @include hover-transform();
  }

  .donation-box {
    border: 2px solid $btn-border-color;
    padding: 8px 25px;
    border-radius: 5px;
    margin-top: 5rem;
    font-size: 16px;
    line-height: 24px;
    width: max-content;
    .donation-amount {
      color: $highlight-color;
      font-size: 40px;
      line-height: 40px;
      font-weight: bold;
    }
    p {
      margin-top: 20px;
      font-size: 24px;
      line-height: 24px;
    }
  }
  .verify-donation {
    span {
      font-size: 25px;
      line-height: 25px;
      font-weight: 600;
    }
    img {
      width: 250px;
      height: 60px;
    }
  }
  .receipts-link {
    text-decoration: none;
    font-weight: 600;
    padding: 12px 24px;
    font-size: 15px;
    line-height: 15px;
    color: #061936;
    background-color: #2bd8ae;
    border-radius: 3px;
  }
}
