@font-face {
    font-family: "DMSans";
    src: url("../../../../Common/fonts/DMSans-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: "DMSans";
    src: url("../../../../Common/fonts/DMSans-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
  }
  
  @font-face {
    font-family: "DMSans";
    src: url("../../../../Common/fonts/DMSans-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: "DMSans";
    src: url("../../../../Common/fonts/DMSans-ExtraLightItalic.ttf")
      format("truetype");
    font-weight: 200;
    font-style: italic;
  }
  
  @font-face {
    font-family: "DMSans";
    src: url("../../../../Common/fonts/DMSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "DMSans";
    src: url("../../../../Common/fonts/DMSans-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: "DMSans";
    src: url("../../../../Common/fonts/DMSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "DMSans";
    src: url("../../../../Common/fonts/DMSans-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: "DMSans";
    src: url("../../../../Common/fonts/DMSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: "DMSans";
    src: url("../../../../Common/fonts/DMSans-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: "DMSans";
    src: url("../../../../Common/fonts/DMSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: "DMSans";
    src: url("../../../../Common/fonts/DMSans-SemiBoldItalic.ttf")
      format("truetype");
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: "DMSans";
    src: url("../../../../Common/fonts/DMSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "DMSans";
    src: url("../../../../Common/fonts/DMSans-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: "DMSans";
    src: url("../../../../Common/fonts/DMSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: "DMSans";
    src: url("../../../../Common/fonts/DMSans-ExtraBoldItalic.ttf")
      format("truetype");
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: "DMSans";
    src: url("../../../../Common/fonts/DMSans-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: "DMSans";
    src: url("../../../../Common/fonts/DMSans-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
  }