html{
    font-size: 62.5% !important; //this makes each rem to be 10px when the font size of browser has been set to 16px
    height: auto !important;
}
body{
    background: radial-gradient(at 60% 35%, #243a77, #110D1D);
    background-repeat: no-repeat;
    height: auto !important;
    min-height: 100vh !important;
}
main{
    max-width: 430px;
    padding: 30px 25px;
    background: linear-gradient(to bottom, $main_background_from, $main_background_to);
    background-repeat: no-repeat;
}

nav.mini-nav{
    margin-bottom: 30px;

    .setting-around{
        padding: 15px;
        background-color: $setting_back;
        cursor: pointer;
    }
    h1{
        color: #fff;
        font-size: 2.4rem;
        font-weight: 700;
        height: 57px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.coin-details{
    margin-bottom: 60px;
    @include flex(column, none, center, none);

    span{
        @include typography(1.8rem, 500, $small-title, 2rem);
    }
    
    .wallet-balance{
        #balance{
            @include typography(3.2rem, 700, $white_text, 3.2rem);
        }
    }
    #received-name{
        color: $white_text;
    }
}

.navigateBtn{
    @include CommonNavigate();

    #network-type{
        margin-top: -40px;
        @include typography(1.8rem, 500, $small-title, none);
    }
}

.head-span{
    @include typography(1.8rem, 500, $small-title, none);
}

#share-btn{
    margin-top: 40px;
    padding: 15px 39px;
    border-radius: 25px;
    @include typography(1.6rem, 700, none, none);
    box-shadow: 0 0 15px #0C61EC57;
}

.fa-solid{
    font-family: "Font Awesome 6 Free" !important;
}

.receive-add{
    margin-top: 40px;
    @include flex(column, none, center, 20px);

    #qr-code{
        width: 170px;
        height: 170px;
    }

    #dest-link{
        @include typography(1.6rem, 500, $small-title, none);
    }

    #copyBtn{
        border: 1px solid #FFFFFF24;
        width: 100%;
        padding: 20px 0;
        border-radius: 25px;
        @include flex(row, center, none, none);
    }
}