html{
    font-size: 62.5% !important; //this makes each rem to be 10px when the font size of browser has been set to 16px
    height: auto !important;
}
body{
    background: radial-gradient(at 60% 35%, #243a77, #110D1D);
    background-repeat: no-repeat;
    height: auto !important;
    min-height: 100vh !important;
}
main{
    max-width: 430px;
    padding: 30px 25px;
    background: linear-gradient(to bottom, $background_from, $background_to);
    background-repeat: no-repeat;
}

nav.mini-nav{
    margin-bottom: 30px;

    .setting-around{
        padding: 15px;
        background-color: $button_gray;
        cursor: pointer;
    }
    h1{
        color: #fff;
        font-size: 2.4rem;
        font-weight: 700;
        height: 57px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.network-name{
    position: relative;
    background-color: #FFFFFF0D;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 21px;
    z-index: 1;
    margin-top: 30px;

    #network-type{
        margin-top: -40px;
        color: $small-title;
        font-weight: 500;
        font-size: 1.8rem;
        
    }

    #network-redirector{
        padding: 15px 46px 15px 46px;
        border: 1px solid #FFFFFF24;
        backdrop-filter: blur(3px);
        border-radius: 21px;
        z-index: 1;

        img{
            transform: rotate(-90deg);
        }
    }
    #network-address{
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 140px;
        transform: rotate();
    }
    .bottom-line{
        display: block;
        width: 60%;
        height: 7px;
        border-radius: 120px;
        background-color: $main_blue;
        bottom: -3px;
        z-index: -1;
    }
}

.coin-details{
    margin-bottom: 60px;
    span{
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 2rem;
        color: $small-title;
    }
    
    .wallet-balance{
        #balance{
            font-size: 3.2rem;
            font-weight: 700;
            color: #fff;
            line-height: 3.2rem;
        }
    }

    #received-name{
        color: #fff;
    }
}

.head-span{
    font-size: 1.8rem;
    color: $small-title;
    font-weight: 500;
}

#share-btn{
    margin-top: 40px;
    padding: 15px 39px;
    border-radius: 25px;
    font-size: 1.6rem;
    font-weight: 700;
    box-shadow: 0 0 15px #0C61EC57;
}

.fa-solid{
    font-family: "Font Awesome 6 Free" !important;
}

.receive-add{
    margin-top: 40px;
    gap: 20px;
    #qr-code{
        width: 170px;
        height: 170px;
    }

    #dest-link{
        font-size: 1.6rem;
        font-weight: 500;
        color: $small-title;
    }

    #copyBtn{
        border: 1px solid #FFFFFF24;
        width: 100%;
        padding: 20px 0;
        border-radius: 25px;
    }
}