$white-color: #ffffff;
$primary-bg: #0e1a32;
$secondary-bg: #1b3254;
$light-gray: #a4a8ab;
$green-color: #26a17b;
$blue-color: #006fff;
$blue-hover-color: #0056cc;
$blue-active-color: #0041a8;
$positive-bg-color: #0caf60;

#exchange {
  padding: 30px 20px;

  h3 {
    color: $white-color;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    text-align: left;
  }

  .main-row {
    width: 99%;
    margin: 0 auto;
  }

  .left-container {
    padding: 30px;
    border-radius: 31px;
    background-color: #0e1c37;

    .coins-container {
      background-color: #09162e;
      width: 100%;
      height: 134px;
      padding: 1.5rem;
      border-radius: 25.28px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        width: 28px;
        height: 28px;
        margin-left: 5%;
      }

      .img-and-name-count {
        transition: all 0.3s ease;
        background-color: #202e49;
        border-radius: 31px;
        &:hover {
          background-color: #84878b5e;
          cursor: pointer;
        }
      }
      input.coin-amount {
        background-color: transparent;
        width: 100%;
        border-radius: 15px;
        border: 0;
        font-size: 17px;
        font-weight: 700;
        // padding: 5px 0px 5px 14px;
      }
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* برای Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }
      .coin-name {
        width: 60%;
        // margin-left: 13%;
      }
      .coin-name,
      .coin-price {
        display: flex;
        flex-direction: column;
        color: $white-color;

        & > * {
          font-family: DM Sans;
          line-height: 1.6;
        }
      }
      .coin-name {
        span {
          color: #a9b0be;
        }
      }
      .coin-price {
        span {
          font-size: 14px;
          font-weight: 400;
        }
      }
      .coin-symbol {
        color: rgb(239, 243, 251);
        font-size: 16px;
        font-weight: 600;
      }

      .coin-amount,
      .coin-value {
        font-size: 18px;
        font-weight: 600;
      }
    }

    .connect-wallet-btn {
      width: 100%;
      padding: 23.25px 38.75px;
      background-color: $blue-color;
      border-radius: 23.25px;
      font-family: DM Sans;
      font-size: 16px;
      font-weight: 700;
      color: $white-color;
      text-align: center;
      box-shadow: 0px 3.1px 14.34px rgba(12, 97, 236, 0.34);
      transition: background-color 0.3s ease, box-shadow 0.3s ease,
        transform 0.2s ease;
      cursor: pointer;

      &:hover {
        background-color: $blue-hover-color;
        box-shadow: 0px 6px 18px rgba(12, 97, 236, 0.5);
        transform: translateY(-2px);
      }

      &:active {
        background-color: $blue-active-color;
        box-shadow: 0px 2px 8px rgba(12, 97, 236, 0.2);
        transform: translateY(0);
      }
    }

    .swap-container {
      top: 25%;
      position: absolute;

      img {
        width: 60px;
        height: 60px;
        transition: transform 0.5s ease-in-out;

        &:hover {
          cursor: pointer;
          transform: rotate(360deg);
        }
      }
    }

    .more-info-container .more-icon {
      width: 24.8px;
      height: 24.8px;
    }

    .more-items {
      hr {
        background-color: #9e9e9e;
      }

      .left-precent,
      .right-text {
        font-size: 12.4px;
        line-height: 16.14px;
        font-family: DM Sans;
        color: $white-color;
      }

      .positive-bg {
        color: $positive-bg-color;
      }
    }

    .more-text {
      font-size: 21.12px;
      font-weight: 700;
      color: $white-color;
    }

    .exchange-setting-icons-container {
      a {
        display: inline-block;
        transition: transform 0.3s ease, filter 0.3s ease;

        &:hover {
          transform: scale(1.1);
          filter: brightness(1.5);
        }

        .exchange-coin-icon {
          width: 24px;
          height: 24px;
          transition: fill 0.3s ease;
        }
      }
    }
  }

  .right-container {
    .small-icon {
      width: 30px;
    }

    .sortable img {
      width: 20px;
      height: 20px;
    }

    .top-img-container {
      background-color: $secondary-bg;
      border-radius: 30px 30px 0 0;
      padding: 2.25rem 0;
    }

    .table-responsive {
      background-color: $primary-bg;
      padding: 0 2rem;
      border-radius: 0 0 30px 30px;
    }

    .table {
      --bs-table-bg: transparent;
      --bs-table-striped-bg: transparent;

      th,
      td {
        font-family: DM Sans;
        color: $white-color;
        padding-bottom: 1.75rem;
        text-align: left;
      }

      tbody tr {
        height: 78px;
        vertical-align: middle;

        .comname,
        .nickname {
          display: block;
        }

        .comname {
          font-size: 16px;
          font-weight: 700;
        }

        .nickname {
          font-size: 12px;
          font-weight: 400;
          color: $light-gray;
        }
      }

      .main-tr {
        border-bottom: 1px solid gray;
      }

      .text-green {
        font-size: 16px;
        font-weight: 500;
        color: $green-color !important;
      }
    }
  }

  @media screen and (max-width: 500px) {
    .table {
      width: 700px !important;
    }
  }

  .firstTokenCointainer,
  .secondTokenCointainer {
    .modal-content {
      width: 95%;
      margin: 0 auto;
      .modal-header {
        background-color: #0e1c37;

        button {
          --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
        }
      }
    }
    .modal-body {
      background-color: #0a172f;
      border-radius: 0 0 1rem 1rem;

      input {
        background-color: #202e49;
        height: 48px;
        border-radius: 25px;
        border: 1px solid #9e9e9e3a;
        padding-left: 3rem;
        color: white;
        &::placeholder {
          color: #9e9e9e;
        }
        &:focus {
          border: 1px solid #006fff;
        }
      }
      ul {
        height: 380px;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: #888 #13111d;

        &::-webkit-scrollbar {
          width: 10px;
          height: 10px;
        }

        &::-webkit-scrollbar-track {
          background-color: #f1f1f1;
          border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #888;
          border-radius: 10px;
          border: 2px solid #ccc;
        }

        &::-webkit-scrollbar-thumb:hover {
          background-color: #555;
        }
        li {
          transition: all 0.2s ease;
          width: 97%;

          &:hover {
            cursor: pointer;
            margin-left: 8px;
            background-color: rgba(128, 128, 128, 0.075) !important;
            border-radius: 10px;
          }
        }
      }
      .search-container {
        position: relative; /* برای قرار دادن موقعیت نسبت به container */
      }

      .search-icon {
        position: absolute; /* موقعیت نسبت به container */
        left: 15px; /* فاصله از سمت چپ */
        top: 50%; /* وسط محوری */
        transform: translateY(-50%); /* برای قرار دادن در وسط عمودی */
        width: 24px; /* اندازه ذره‌بین */
        height: 24px; /* اندازه ذره‌بین */
        background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%239e9e9e" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3e%3ccircle cx="11" cy="11" r="8"%3e%3c/circle%3e%3cline x1="21" y1="21" x2="16.65" y2="16.65"%3e%3c/line%3e%3c/svg%3e');
        background-size: contain; /* به اندازه فضای خود */
        background-repeat: no-repeat; /* عدم تکرار */
        pointer-events: none; /* جلوگیری از دریافت رویدادها */
      }
    }
  }
}
