@mixin flex($direction, $justify, $align, $gap){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin typography($size, $weight, $color, $line_height){
    font-size: $size;
    font-weight: $weight;
    color: $color;
    line-height: $line_height;
}

@mixin inputStyle(){
    background-color: transparent;
    border: none;
    stroke: none;
    color: #fff;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 20px 0;
    font-size: 1.6rem;
    font-weight: 700;
    -moz-appearance: textfield;
}

@mixin inputContainer(){
    background-color: #303134;
    border-radius: 25px;
    padding: 0 20px;
    border: 1px solid transparent;
}