@font-face {
  font-family: "DMSans";
  src: url("../../../../Common/fonts/DMSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "DMSans";
  src: url("../../../../Common/fonts/DMSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "DMSans";
  src: url("../../../../Common/fonts/DMSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "DMSans";
  src: url("../../../../Common/fonts/DMSans-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "DMSans";
  src: url("../../../../Common/fonts/DMSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "DMSans";
  src: url("../../../../Common/fonts/DMSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "DMSans";
  src: url("../../../../Common/fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "DMSans";
  src: url("../../../../Common/fonts/DMSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "DMSans";
  src: url("../../../../Common/fonts/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "DMSans";
  src: url("../../../../Common/fonts/DMSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "DMSans";
  src: url("../../../../Common/fonts/DMSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "DMSans";
  src: url("../../../../Common/fonts/DMSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "DMSans";
  src: url("../../../../Common/fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "DMSans";
  src: url("../../../../Common/fonts/DMSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "DMSans";
  src: url("../../../../Common/fonts/DMSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "DMSans";
  src: url("../../../../Common/fonts/DMSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "DMSans";
  src: url("../../../../Common/fonts/DMSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "DMSans";
  src: url("../../../../Common/fonts/DMSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
/* Reset styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
  color: #333;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

hr {
  border: none;
  height: 1px;
  background-color: #e1e1e1;
}

/* Custom resets */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

body,
* {
  font-family: "DMSans" !important;
}

.background {
  background: radial-gradient(at 60% 35%, #243a77, #110D1D);
}

html {
  font-size: 62.5% !important;
  height: auto !important;
}

body {
  background: #14121c;
  background-repeat: no-repeat;
  height: auto !important;
  min-height: 100vh !important;
}

main {
  max-width: 380px;
  padding: 30px 25px;
  background-repeat: no-repeat;
}

nav.mini-nav {
  margin-bottom: 30px;
}
nav.mini-nav .setting-around {
  padding: 15px;
  background-color: #26272B;
  cursor: pointer;
  width: 57px;
  height: 57px;
}
nav.mini-nav .setting-around i {
  color: #FFFFFF;
  font-size: 2rem;
  width: 27px;
  height: 27px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: none;
}
nav.mini-nav h1 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  background-color: rgba(140, 140, 171, 0.3647058824);
}

.wallet-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: none;
  margin: 0 auto 20px;
  width: 96px;
  height: 96px;
  border-radius: 100%;
  background-color: #006FFF;
}

.setting-body .setting-categories .part-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: none;
  width: 100%;
  padding: 15px 0;
}
.setting-body .setting-categories .part-row .fa-chevron-right {
  font-size: 1.5rem;
  color: #47484E;
}
.setting-body .setting-categories .part-row .form-check {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: none;
  width: 100%;
  padding: 0;
}
.setting-body .setting-categories .part-row .form-check input {
  background-color: #283454;
  border: #283454;
  padding: 12px;
  width: 42px;
  outline: none !important;
}
.setting-body .setting-categories .part-row .form-check input:checked {
  background-color: #006FFF;
  border: #006FFF;
}
.setting-body .setting-categories #price-alert-paragrapagh {
  font-size: 1.4rem;
  font-weight: 400;
  color: #848586;
  line-height: 1.9rem;
}
.setting-body .setting-categories .row-text {
  font-size: 1.6rem;
  font-weight: 700;
  color: #FFFFFF;
  line-height: none;
}

.navigateBtn {
  background-color: rgba(255, 255, 255, 0.0509803922);
  font-size: 1.6rem;
  font-weight: 700;
  color: #FFFFFF;
  line-height: none;
  border-radius: 21px;
  z-index: 1;
}
.navigateBtn #navigateLinker {
  padding: 15px 46px 15px 46px;
  border: 1px solid rgba(255, 255, 255, 0.1411764706);
  backdrop-filter: blur(3px);
  border-radius: 21px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  gap: 8px;
}
.navigateBtn #navigateText {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 170px;
}
.navigateBtn .bottom-blue-line {
  display: block;
  width: 60%;
  height: 7px;
  border-radius: 120px;
  background-color: #006FFF;
  bottom: -3px;
  z-index: -1;
}
.navigateBtn #network-type {
  margin-top: -40px;
  font-size: 1.8rem;
  font-weight: 500;
  color: #848586;
  line-height: none;
}
.navigateBtn img {
  transform: rotate(-90deg);
}
.navigateBtn #navigateText {
  width: 140px !important;
}

.fa-solid {
  font-family: "Font Awesome 6 Free" !important;
}

/*# sourceMappingURL=main.css.map */
