// Variables
$background-color: #14121c;
$text-color-white: #fff;
$text-color-muted: #848586;
$border-color-light: rgba(140, 140, 171, 0.2);
$hover-bg-color: rgba(144, 142, 156, 0.06);
$font-weight-bold: 700;
$font-weight-regular: 400;

// Base Styles
body {
  background-color: $background-color;
}

// Wallet Page Container
#wallet-mobile-page {
  max-width: 400px;
  margin: 0 auto;

  h2 {
    font-size: 24px;
    font-weight: $font-weight-bold;
    line-height: 1;
    color: $text-color-white;
  }

  .wallets-details {
    .img-container {
      width: 72px;
      height: 72px;
      background-color: #1649ff;
      border-radius: 999px;
      outline: 1px solid #1649ff;
      outline-offset: 5px;
    }
    .wal-text {
      font-size: 18px;
      font-weight: 500;
      line-height: 20px;
      text-align: left;
      color: #848586;
    }
    .wallet-inventory {
      font-size: 32px;
      font-weight: 700;
      line-height: 32px;
      text-align: left;
      color: #fff;
    }

    .wal-addres {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      text-align: left;
      color: #848586;
    }

    .copy-btn {
      background-color: transparent;
      box-shadow: none;
      border: 1px solid gray;
      border-radius: 25px;
      height: 56px;
    }
    .connect-btn,
    .delete-btn {
      border: none;
      height: 56px;
      background: #006fff;
      color: #fff;
      border-radius: 25px;
    }

    .connect-btn {
      box-shadow: 0px 3.37px 15.57px 0px #0c61ec57;
    }

    .delete-btn {
      background-color: #3b3c47;
    }
  }
  .modal.fade {
    background-color: #03030392;

    .modal-dialog {
      top: 44%;
    }
    .modal-content {
      max-width: 400px;
      margin: 0 auto;
      //   height: 341px;
      background-color: #27282e;
      .modal-header {
        border: 0;
        h1 {
          font-size: 32px;
          font-weight: 700;
          line-height: 32px;
          text-align: left;
          color: #fff;
        }
        .delete-icon {
          margin-top: -5rem;
        }
      }
      .modal-body {
        border: 0;
        .modal-text {
          font-size: 18px;
          font-weight: 500;
          line-height: 30px;
          text-align: center;
          color: #8c8cab;
        }
      }
      .modal-footer {
        border: 0;
        .cancel-btn {
          width: 30%;
          height: 66px;
          border: none;
          border-radius: 25.26px;
          background-color: #8c8cab33;
        }
        .remove-btn {
          width: 65%;
          height: 66px;
          border-radius: 25.26px;
          border: none;
          background: #ff3e46;
          box-shadow: 0px 3.37px 15.57px 0px #ff3e4666;
        }
      }
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .loading {
    animation: spin 1.5s linear infinite;
  }
}
