// -------------------- Variables ---------------
$black-100: #000000;
$gray-100: #6d6d6d;
$gray-200: #8c8f9b;
$blue-100: #1284b8;
$red-100: #bd3a33;
$gray-300: #c4c5cb;
$dark-100: #14151a;
$gray-400: #e1e2e5;
$gray-500: #efefef;
$green-100: #18dc7e;
$dark-200: #181a1e;
$gray-600: #f4f5f5;
$gray-700: #f7f7f8;
$yellow-100: #ffe900;
$white-100: #ffffff;
$dark-300: #1e2026;
$gray-800: #373943;
$gray-900: #4b4b4b;

$footer-text: rgb(140, 143, 155);
$footer-font-size: 14px;
$footer-heading-size: 16px;
$footer-line-height: 1.8;
$footer-link-padding: 4px 0;
$transition-duration: 0.2s;
$transition: all 0.3s ease;

// -------------------- Mixins ---------------

@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin border-radius($radius: 4px) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

// -------------------- Styles ---------------
// Fonts Import
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

// Font Variables
$font-zen: "Zen Dots", sans-serif;
$font-space: "Space Grotesk", sans-serif;

// Font Mixins
@mixin zen-dots($weight: 400) {
  font-family: $font-zen;
  font-weight: $weight;
  font-style: normal;
}

@mixin space-grotesk($weight: 500) {
  font-family: $font-space;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
}

// Utility Classes
.font-zen {
  @include zen-dots();
}

.font-space {
  @include space-grotesk();
}

body {
  background-color: $dark-100;
  @include space-grotesk(500);
}

@mixin button(
  $color,
  $background-color,
  $padding: 10px 20px,
  $font-size: 16px,
  $border-radius: 10px,
  $font-weight: 400
) {
  display: inline-block;
  color: $color;
  background-color: $background-color;
  padding: $padding;
  font-size: $font-size;
  $font-weight: $font-weight;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($background-color, 10%);
  }
}

.navbar {
  .nav-item {
    .connect-btn {
      @include button($dark-300, $gray-700, 10px 20px, 0.875rem, 8px);
      outline: transparent solid 2px;
      outline-offset: 2px;
      line-height: 1rem;
    }

    .test-btn {
      @include button($white-100, $dark-300, 16px, 0.875rem, 96px);
      outline: transparent solid 2px;
      outline-offset: 2px;
      line-height: 1rem;
      margin-right: 16px;
      border: 1px solid rgb(55, 57, 67);
      height: 40px;
    }
    .dropdown-svg {
      width: 16px;
      height: 16px;
      color: $green-100;
    }
  }
  .dropdown {
    border-right: 1px solid $gray-800;
  }

  .dropdown-menu {
    background-color: $gray-800;
    margin: 10px 20px 0 0;
    min-width: 8rem;
    &:hover {
      background-color: #5c5f6a;
    }
    li {
      text-align: center;
      a {
        padding: 0;
        color: $gray-300;
        &:hover {
          background-color: #5c5f6a;
        }
        &:focus {
          background-color: #5c5f6a;
        }
      }
    }
  }
}

// ----   Footer ----------

// Mixins
@mixin hover-transition {
  transition: all $transition-duration ease-in-out;
}

// Footer Styles
.footer {
  font-size: $footer-font-size;
  line-height: $footer-line-height;
  @include space-grotesk(500);

  .main-container {
    border-top: 1px solid rgba(128, 128, 128, 0.388);
    border-bottom: 1px solid rgba(128, 128, 128, 0.388);
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
  &__heading {
    color: $white-100;
    font-size: $footer-heading-size;
    font-weight: 500;
    margin-bottom: 1.5rem;
    letter-spacing: 0.5px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__link {
    color: $footer-text;
    text-decoration: none;
    display: block;
    padding: $footer-link-padding;
    @include hover-transition;
    margin-top: 0.6rem;
    &:hover {
      color: $white-100;
      text-decoration: none;
      transform: translateX(2px);
    }
  }
  .copyright-wrapper {
    p {
      color: $footer-text;
    }
  }
}

// Media Queries
@media (max-width: 991.98px) {
  .footer {
    &__heading {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 767.98px) {
  .footer {
    &__list {
      margin-bottom: 1.5rem;
    }
  }
}

// --------- Social --------
.social-Links {
  border-top: 1px solid rgba(128, 128, 128, 0.388);

  .svg-icon {
    color: $gray-200;
    width: 20px;
    height: 20px;
    @include hover-transition();
    &:hover {
      color: $gray-300;
      cursor: pointer;
    }
  }
}

// --------- Token Recovery ---

.token-recovery {
  color: $white-100;
  margin-bottom: 4rem;
  margin-top: 4rem;
  &__title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    @include space-grotesk(600);
  }

  &__container {
    border: 1px solid rgba(128, 128, 128, 0.388);
    border-radius: 1rem;
    padding: 2rem 3rem 0 3rem;
    position: relative;
    display: flex;
    gap: 4rem;
  }

  &__content {
    flex: 1;
  }

  &__steps {
    display: flex;
    flex-direction: column;
    gap: 8px;

    svg {
      margin-left: 1%;
    }
  }

  &__step {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }

  &__step-number {
    background: $gray-900;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    flex-shrink: 0;
  }

  &__step-text {
    font-size: 1rem;
    line-height: 1.5;
  }

  &__learn-more {
    display: inline-block;
    margin: 2rem 0;
    text-decoration: none;
    transition: $transition;
    font-size: 0.875rem;
    line-height: 1rem;
    min-width: 72px;
    padding-inline: 16px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(247, 247, 248);
    color: rgb(247, 247, 248);
    width: fit-content;
    height: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    white-space: pre-line;
    text-align: center;
    &:hover {
      background: rgba(255, 255, 255, 0.1);
      color: $white-100;
    }
  }

  &__image {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
  }
}

// Responsive styles
@media (max-width: 991.98px) {
  .token-recovery {
    &__container {
      flex-direction: column;
    }

    &__image {
      display: none;
    }
  }
}

@media (max-width: 767.98px) {
  .token-recovery {
    padding: 2rem 1rem;

    svg {
      margin-left: 3.5%;
    }
    &__title {
      font-size: 1.3rem;
    }

    &__container {
      padding: 2rem 1.5rem;
    }

    &__step-number {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

// ----------------------

.token-recovery-tool {
  &__title {
    @include zen-dots(400);
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: 0.05em;
    color: white;
    text-align: center;

    span {
      color: $yellow-100;
    }
  }
  &__sub-title {
    font-size: 1rem;
    font-weight: var(--chakra-fontWeights-400);
    line-height: 1.5rem;
    color: $gray-300;
    text-align: center;
    @include space-grotesk(500);
  }
  &__table-title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  &__table__container {
    display: block;
    white-space: nowrap;
    overflow: auto hidden;
    max-width: 100%;
    width: 100%;
    border: 1px solid rgb(30, 32, 38);
    border-radius: 16px;
    background: rgb(24, 26, 30);
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 16px;
    padding: 0;
    thead {
      background: rgb(55, 57, 67);
      color: rgb(140, 143, 155);
      th {
        padding-inline: 32px;
        padding-top: 0px;
        padding-bottom: 0px;
        height: 40px;
        border-bottom: 1px solid rgb(30, 32, 38);
        user-select: none;
        font-weight: 300;
        font-size: 14px;
      }
    }
    td {
      padding-inline: 32px;
      padding-top: 0px;
      padding-bottom: 0px;
      height: 48px;
    }
    .tokens-container {
      display: flex;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      min-height: 320px;
      width: 100%;
      padding-top: 68px;
      padding-bottom: 90px;
      button {
        border: 0;
        padding: 20px;
        line-height: 1rem;
        min-width: 72px;
        padding-inline: 16px;
        border-radius: 8px;
        background: rgb(247, 247, 248);
        color: rgb(24, 26, 30);
        height: 40px;
        gap: 8px;
      }
    }
    #token-table {
      .token-row {
        animation: fadeIn 0.5s ease-in-out;
      }
    }
    .status.active {
      color: $green-100;
    }
    .status.inactive {
      color: $red-100;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 700px) {
  .token-recovery-tool {
    &__title {
      font-size: 2rem;
      text-align: left;
    }
    &__sub-title {
      text-align: left;
      font-size: 0.875rem;
    }
    thead.hidden {
      display: none;
    }
  }
}
