:root {
  --color-white: #fff;
  --color-black: #fafafa;
  --color-dirty-white: #b6bbc7;
  --color-grey-dark: #515162;
  --color-grey: #1e2532;
  --color-grey-light: #cfcfcf;
  --color-grey-lighter: #f0f0f0;
  --color-purple: #7a4dff;
  --color-blue-dark: #2a2646;
  --color-blue-light: #36325f;
  --color-primary: #1e2036;
  --color-primary-light: #eff3fe;
  --color-red: #dc3545;
  --color-success: #33cc86;
  --color-warning: #ffc107;
  --color-danger: #ff4d79;
  --color-disabled: #b2b2b9;
  --color-gradient-light: #122bb1;
  --color-gradient-dark: #0e0267;
  --color-border: #4e4e50;
  --color-background-dark: #0b1320;
  --color-dark-primary: #121212;
  --color-dark-secondary: #0b1320;
  --color-background-primary: #0b1320;
  --color-background-secondary: #111b2a;
  --color-background-tertiary: #0b1320;
  --color-header: #000012;
  --color-background-white: #233f59;
  --color-placeholder: #6c7274;
  --color-logo: #fdff00;
  --color-modal-background: #070707;
  --color-gradient-green-light: #33cc86;
  --color-gradient-green-dark: #00a364;
  --color-tertiary: #a845d8;
  --color-secondary: #b8068f;
  --color-primary: #00cbff;
  --color-blue-sd: #1d89ef;
  --color-blue-sd-old: #398ef6;
  --color-text-secondary: #a3a7ab;
}
body {
  background-color: var(--color-background-primary);
  color: white;
  margin-left: 4rem;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  .search-container {
    position: relative;
    flex: 1;

    .search-input {
      width: 100%;
      padding: 10px 10px 10px 50px;
      border-radius: 10px;
      border: none;
      background-color: #2e3b47; // رنگ پس‌زمینه فیلد جستجو
      color: #ffffff;

      &::placeholder {
        color: #8a9aa5; // رنگ Placeholder
      }
    }

    .search-icon {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      color: #8a9aa5;
    }
  }

  .wallet-btn {
    color: #ffffff;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    padding: 1px;
    background: linear-gradient(to right, #a845d8, #b8068f);
    height: 42px;
    width: 175px;
    transition: all 0.2s ease;
    &:hover {
      filter: brightness(1.15);
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      text-decoration: none;
      color: white;
      height: 100%;
      border-radius: 5px;
      background-color: #171e29;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 15px;
  }
}
.dropdown {
  background: linear-gradient(
    150deg,
    #233f59 30%,
    rgba(29, 137, 239, 0.52) 110%
  );
  border-radius: 10px;

  .network-btn {
    display: flex;
    align-items: center;
    padding: 10px 25px;

    color: #ffffff;
    font-weight: 600;
    border: none;
    border-radius: 5px;

    img {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
  }

  .dropdown-menu {
    background-color: var(--color-background-secondary);
    padding: 0;
    border-radius: 8px;
    overflow: hidden;

    .dropdown-header {
      color: #8a9aa5;
      padding: 8px 15px;
      font-size: 0.9rem;
    }

    .dropdown-item {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      color: #ffffff;

      img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }

      i {
        margin-left: auto;
        color: #8a9aa5; // رنگ آیکون تیک در گزینه انتخاب شده
      }

      &:hover {
        background-color: #2e3b47;
      }

      &.active {
        background-color: #2e3b47; // رنگ پس‌زمینه گزینه انتخاب‌شده
      }
    }
    .dropdown-item.active {
      color: var(--color-primary);
      position: relative;
    }

    .dropdown-item.active::after {
      content: "\2713";
      font-size: 1rem;
      color: var(--color-primary) !important;
      position: absolute;
      right: 15px;
      font-weight: bold;
    }
  }
}

// ---------------------------
// Variables
$background-color: #1e1e2f;
$text-color: #ffffff;
$highlight-color: #ffdd57;
$button-color: #0047ff;

.dashboard {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;

  .overview,
  .top-gainers,
  .new-listings,
  .wallet-panel {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color-background-secondary);
  }

  .overview {
    // width: 100%;
    .smart-token-text {
      background-color: var(--color-background-white);
      border-radius: 10px;
      padding: 10px 15px;
      font-size: 16px;
    }
    .stats {
      display: flex;
      justify-content: space-around;
    }
    .stat-item {
      text-align: center;
      max-width: 220px;
      min-width: 220px;
      height: auto;
      background-color: var(--color-background-primary);
      padding: 7px 10px 5px 10px;
      border-radius: 10px;
      border: 1px solid var(--color-background-white);
      z-index: 1;
      p {
        font-size: 12px;
        color: var(--color-dirty-white);
        text-align: start;
      }
      h2 {
        color: transparent;
        font-size: 40px;
        font-weight: 700;
        margin-top: 1rem;
        text-align: end;
        background-clip: text;
        background-image: linear-gradient(
          to right,
          #e99b3d,
          #e8d337 10%,
          #e8d337
        );
      }
      span {
        float: right;
        i {
          color: var(--color-blue-sd);
          font-size: 15px;
          background-color: #000012;
          margin-left: 5px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    h1 {
      font-size: 28px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-weight: 700;
    }
  }

  .top-gainers,
  .new-listings {
    flex: 1;
    h2 {
      font-size: 18px;
      margin-bottom: 10px;
    }
    table {
      width: 100%;
      tr {
        td {
          padding: 8px;
        }
        &:nth-child(odd) {
          background-color: darken($background-color, 5%);
        }
      }
    }
  }
}
.dashboard-section {
  padding: 20px;
  .row {
    padding: 0 !important;
  }
  .list-card {
    background-color: var(--color-background-primary);
    border-radius: 8px;
    padding: 20px;
    color: #ffffff;

    h4 {
      font-size: 1.2rem;
      color: #ffffff;
      margin-bottom: 15px;
      i {
        color: var(--color-blue-sd);
        font-size: 15px;
        background-color: #000012;
        margin-left: 5px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .list-item {
      display: flex;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid #2e3b47;
      height: 50px;
      &:last-child {
        border-bottom: none;
      }

      .item-number {
        width: 20px;
        color: #8a9aa5;
        font-size: 0.9rem;
        margin-right: 10px;
      }

      .item-icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 15px;
      }

      .item-info {
        display: flex;
        flex-direction: column;
        flex: 1;

        .item-name {
          font-size: 1rem;
          font-weight: 600;
        }

        .item-subname {
          font-size: 0.8rem;
          color: #8a9aa5;
        }
      }

      .item-change,
      .item-price {
        font-size: 0.9rem;

        &.positive {
          color: #4caf50;
        }

        &.negative {
          color: #f44336;
        }
      }
    }

    .list-title {
      span {
        font-size: 0.8rem;
        color: var(--color-dirty-white);
      }
    }
  }
}

@media (max-width: 768px) {
  .dashboard-section {
    .list-card {
      h4 {
        font-size: 1rem;
      }

      .list-item {
        .item-number,
        .item-change,
        .item-price {
          font-size: 0.8rem;
        }

        .item-info {
          .item-name {
            font-size: 0.9rem;
          }

          .item-subname {
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}
.profile-section {
  .feq-header {
    border-radius: 10px;
    background-image: -webkit-linear-gradient(35deg, #111b2a 30%, #233f59);
    background-image: linear-gradient(35deg, #111b2a 30%, #233f59);
    border: 1px solid var(--color-background-white);

    .feq-details {
      padding: 10px;
    }
    .main-detail {
      img {
        border-radius: 100px;
      }
      span {
        font-size: 18px;
        font-weight: 700;
        margin-left: 10px;
      }
    }

    .links-container {
      a {
        display: flex;
        align-items: center;
        font-size: 14px;
        padding: 5px 12px;
        color: var(--color-dirty-white);
        border-radius: 10px;
        background-color: var(--color-background-primary);
        img {
          margin-right: 5px;
        }
      }
    }
  }

  .my-wallet-container {
    background-color: var(--color-background-secondary);
    border-radius: 10px;
    padding: 20px 15px 15px;
    h5 {
      font-weight: 700;
      font-size: 21px;
      line-height: 2.25rem;
      padding: 0;
      margin: 0;
    }

    .wallet-input-container {
      background-color: var(--color-background-primary);
      border-radius: 10px;
      .add-wall {
        padding-top: 50px;
        padding-bottom: 50px;
      }
    }
    .connect-btn {
      margin-top: 30px;
      background: linear-gradient(to right, #1649ff, var(--color-primary));
      border-radius: 10px;
      font-weight: 500;
      width: 100%;
      height: 40px;
      color: #fff;
    }
    #walletModal {
      .btn-close {
        background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="white"%3e%3cpath d="M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414"/%3e%3c/svg%3e');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1rem;
        width: 1.5rem;
        height: 1.5rem;
        opacity: 1;
      }
    }
    /* استایل‌های سفارشی برای مودال */
    .wallet-modal-content {
      background-color: #121212;
      color: #fff;
      max-width: 360px;
      margin: auto auto;
      border-radius: 30px;
      border: 1px solid #80808054;
    }

    .modal-header {
      border-bottom: 0;
    }

    .modal-footer {
      text-align: center;
      font-size: 0.9rem;
      color: #aaa;
      border: 0;
    }

    .wallet-option {
      background: #1e1e1e;
      padding: 7px 15px 5px 7px;
      border-radius: 8px;
      margin-bottom: 15px;
      text-decoration: none;
      color: white;
    }

    .wallet-icon {
      margin-right: 10px;
    }

    .wallet-tag {
      background: #333;
      color: #aaa;
      background-color: var(--wui-color-accent-glass-015);
      color: var(--wui-color-accent-glass-015);
      padding: 3px 8px;
      border-radius: 5px;
      font-size: 0.8rem;
      border: none;
    }

    .wallet-tag.installed {
      background-color: #4caf4f5a;
      color: #1ade20;
      font-weight: 700;
    }
    .wallet-tag.zero {
      background-color: #2e3b47;
      border-radius: 5px;
      padding: 3px 5px;
    }
    .wallet-tag.qr-code {
      background-color: rgba(65, 81, 226, 0.198);
      color: #667dff;
      font-weight: 700;
    }
    .modal-footer a {
      color: #667dff;
      text-decoration: none;
    }
  }
}

// ----------------
.table-section {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;

  border-radius: 8px;
  overflow: hidden;
  color: #ffffff;

  .table-header,
  .table-row {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr 2fr 2fr;
    padding: 10px 0px;
    align-items: center;
  }

  .table-header {
    background-color: var(--color-background-white);
    font-weight: 600;
    font-size: 0.9rem;
    color: #8a9aa5;
    text-transform: uppercase;
  }

  .table-row {
    border-bottom: 1px solid #2e3b47;

    &:last-child {
      border-bottom: none;
    }

    .item-number {
      color: #8a9aa5;
      font-size: 0.9rem;
    }

    .item-info {
      display: flex;
      align-items: center;
      gap: 10px;

      .item-icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }

      .item-name {
        font-weight: bold;
        font-size: 1rem;
      }

      .item-subname {
        font-size: 0.8rem;
        color: #8a9aa5;
      }
    }

    .item-price,
    .item-change,
    .item-volume,
    .item-marketcap {
      font-size: 0.9rem;
      text-align: left;
    }

    .item-price.negative,
    .item-change.negative {
      color: var(--color-danger);
    }

    .item-price.positive,
    .item-change.positive {
      color: #4caf50; // سبز برای مقادیر مثبت
    }
  }
}

// ریسپانسیو برای موبایل
@media (max-width: 768px) {
  .table-header,
  .table-row {
    grid-template-columns: 1fr 2fr 2fr;
  }

  .item-volume,
  .item-marketcap {
    display: none;
  }
}

// -----------------------

.sidebar {
  background-color: var(--color-background-secondary);

  .feq-logo {
    background-color: var(--color-background-primary);
    height: 50px;
    border-radius: 50px;
    transition: all 0.3s ease;
    &:hover {
      background-color: var(--color-background-white);
      cursor: pointer;
    }
  }
  .sidebar-brand {
    font-size: 0.8rem;
    font-weight: bold;
  }
  .home-item {
    border-radius: 50px;
    background-image: linear-gradient(
      90deg,
      var(--color-tertiary),
      var(--color-secondary)
    ) !important;

    a {
      padding: 4px;
      height: 46px;
      background-image: linear-gradient(
        90deg,
        var(--color-tertiary),
        var(--color-secondary)
      ) !important;
      border-radius: 50px;
      &:hover {
        border-radius: 50px;
        background-image: linear-gradient(
          90deg,
          var(--color-tertiary),
          var(--color-secondary)
        ) !important;
      }
    }
  }
}
// ------------------
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1422px !important;
  }
}
// ---------------------
.popover-body {
  border-radius: 5px;
  padding: 10px;
  background-color: var(--color-background-secondary);
  border: 1px solid var(--color-background-white);
  color: white;
  font-weight: 500;

  div {
    div {
      margin: 3px 0;
      gap: 5px;
    }
  }
}
