@font-face {
  font-family: "DMSans";
  src: url("../../Common/fonts/DMSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "DMSans";
  src: url("../../Common/fonts/DMSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "DMSans";
  src: url("../../Common/fonts/DMSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "DMSans";
  src: url("../../Common/fonts/DMSans-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "DMSans";
  src: url("../../Common/fonts/DMSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "DMSans";
  src: url("../../Common/fonts/DMSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "DMSans";
  src: url("../../Common/fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "DMSans";
  src: url("../../Common/fonts/DMSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "DMSans";
  src: url("../../Common/fonts/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "DMSans";
  src: url("../../Common/fonts/DMSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "DMSans";
  src: url("../../Common/fonts/DMSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "DMSans";
  src: url("../../Common/fonts/DMSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "DMSans";
  src: url("../../Common/fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "DMSans";
  src: url("../../Common/fonts/DMSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "DMSans";
  src: url("../../Common/fonts/DMSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "DMSans";
  src: url("../../Common/fonts/DMSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "DMSans";
  src: url("../../Common/fonts/DMSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "DMSans";
  src: url("../../Common/fonts/DMSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
/* Reset styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
  color: #333;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

hr {
  border: none;
  height: 1px;
  background-color: #e1e1e1;
}

/* Custom resets */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

body,
* {
  font-family: "DMSans" !important;
}

.background {
  background: radial-gradient(at 60% 35%, #243a77, #110D1D);
}

html {
  font-size: 62.5% !important;
  height: auto !important;
}

body {
  background: radial-gradient(at 60% 35%, #243a77, #110D1D);
  background-repeat: no-repeat;
  height: auto !important;
  min-height: 100vh !important;
}

main {
  max-width: 430px;
  padding: 36px 25px;
  background: linear-gradient(to bottom, #15151C, #110D1D);
  background-repeat: no-repeat;
}

nav.mini-nav {
  margin-bottom: 30px;
}
nav.mini-nav .setting-around {
  padding: 15px;
  background-color: #26272B;
  cursor: pointer;
}

.wallet-address {
  position: relative;
  background-color: rgba(255, 255, 255, 0.0509803922);
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 21px;
  z-index: 1;
}
.wallet-address #wallet-redirector {
  padding: 15px 46px 15px 46px;
  border: 1px solid rgba(255, 255, 255, 0.1411764706);
  backdrop-filter: blur(3px);
  border-radius: 21px;
  z-index: 1;
}
.wallet-address #wallet-address {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 170px;
}
.wallet-address .bottom-line {
  display: block;
  width: 60%;
  height: 7px;
  border-radius: 120px;
  background-color: #006FFF;
  bottom: -3px;
  z-index: -1;
}

.wallet-details span {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2rem;
  color: #848586;
}
.wallet-details .wallet-balance #balance {
  font-size: 3.2rem;
  font-weight: 700;
  color: #fff;
  line-height: 3.2rem;
}
.wallet-details .wallet-balance #balance-status {
  font-size: 1.4rem;
}
.wallet-details .wallet-balance #balance-status.up {
  color: #20D691;
}
.wallet-details .wallet-balance #balance-status.down {
  color: #F65556;
}

.interaction-btns .wallet-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 57px;
  height: 57px;
  border: 1px solid rgba(255, 255, 255, 0.031372549);
  background-color: rgba(255, 255, 255, 0.0509803922);
  border-radius: 100%;
  border-top: 1px solid rgba(0, 110, 255, 0.2784313725);
  backdrop-filter: blur(3px);
}
.interaction-btns .interBtn_container span {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.control-segment {
  background-color: #26272B;
  border-radius: 25px;
  height: 60px;
  margin-top: 40px;
}
.control-segment .btn-toggle {
  width: calc(50% - 2px);
  height: 100%;
  border-radius: 25px;
  border: none !important;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.control-segment .btn-toggle .badge {
  background-color: #E4761B;
  font-size: 1.4rem;
  font-weight: 400;
  margin-left: 5px;
}
.control-segment .btn-toggle.active {
  background-color: #006FFF;
  color: #fff;
  font-weight: 700;
}
.control-segment .btn-toggle.inactive {
  color: #848586;
  font-weight: 500;
}

.coin {
  height: 64px;
}
.coin .coin_details_text .coin-name {
  font-size: 1.4rem;
  line-height: 1.9rem;
}
.coin .coin_details_text abbr {
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none !important;
  color: #848586;
}
.coin .coinWorth .coinPrice {
  font-size: 1.4rem;
  line-height: 1.9rem;
}
.coin .coinWorth .coinStatus {
  font-size: 1.2rem;
  text-align: right;
}
.coin .coinWorth .coinStatus.up {
  color: #20D691;
}
.coin .coinWorth .coinStatus.down {
  color: #F65556;
}
.coin .chartCont {
  width: 70px;
}
.coin .apexcharts-canvas.increase {
  filter: drop-shadow(0 0 8px #20D691);
  display: flex;
  justify-content: center;
  align-items: center;
}
.coin .apexcharts-canvas.decrease {
  filter: drop-shadow(0 0 8px #F65556);
  display: flex;
  justify-content: center;
  align-items: center;
}
.coin .apexcharts-canvas.equal {
  filter: drop-shadow(0 0 8px #ccd911);
  display: flex;
  justify-content: center;
  align-items: center;
}

#balance-status i {
  font-family: "Font Awesome 6 Free" !important;
  margin-right: 5px;
}
#balance-status i.fa-caret-up {
  vertical-align: middle;
}

/*# sourceMappingURL=main.css.map */
