@import "./base/reset";


// Variables
$desktop-font-size: 16px;
$mobile-font-size: 14px;
$breakpoint: 768px;

// Color Variables
$background-color: #243a77;
$gradient-color: #110d1d;
$text-color-white: #ffffff;
$text-color-subtitle: #b4c0de;
$item-background-color: #1b3254;

// Base Styles
body {
  font-size: $desktop-font-size;
  line-height: 1.6;
  background: radial-gradient(at 60% 35%, $background-color, $gradient-color);
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
   min-height: 90vh;
}

// Main Content Styles
.main-content {
  padding-top: 2rem;
  max-width: 430px;

  .page-title {
    font-weight: 700;
    line-height: 76.8px;
    text-align: center;
    color: $text-color-white;
  }

  .page-sub-title {
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    color: $text-color-subtitle;
  }

  .item-container {
    background-color: $item-background-color;
    padding: 25px;
    border-radius: 25.11px;

    .item-title {
      font-weight: 700;
      line-height: 48px;
      text-align: center;
      color: $text-color-white;
      padding: 0;
      margin: 0;
    }

    .item-sub-title {
      font-weight: 500;
      line-height: 28.93px;
      text-align: center;
      color: $text-color-white;
    }
  }
}

@media screen and (max-width: 450px) {
  .page-title {
    font-size: $desktop-font-size * 1.7;
  }
  .page-sub-title {
    font-size: $mobile-font-size;
  }
  .item-container {
    width: 90%;

    .item-title {
      font-size: $desktop-font-size ;
    }
    .item-sub-title {
      font-size: $mobile-font-size * 0.9;
    }

    img {
      width: 50px;
      height: 50px;
    }
  }
}

@media screen and (min-width: 450px) {
  .page-title {
    font-size: $desktop-font-size * 1.8;
  }
  .page-sub-title {
    font-size: $mobile-font-size * 1.2;
  }
  .item-container {
    width: 90%;

    .item-title {
      font-size: $desktop-font-size * 1.3;
    }
    .item-sub-title {
      font-size: $mobile-font-size;
    }

    img {
      width: 50px;
      height: 50px;
    }
  }
}

@media screen and (min-width: 700px) {
  .page-title {
    font-size: $desktop-font-size * 2.2;
  }
  .page-sub-title {
    font-size: $mobile-font-size * 1.4;
  }
  .item-container {
    width: 100%;

    .item-title {
      font-size: $desktop-font-size * 1.4;
    }
    .item-sub-title {
      font-size: $mobile-font-size * 1.2;
    }

    img {
      width: 60px;
      height: 60px;
    }
  }
}

@media screen and (min-width: 1000px) {
  .main-content {
    max-width: 520px;
  }
  .page-title {
    font-size: $desktop-font-size * 2.8;
  }
  .page-sub-title {
    font-size: $mobile-font-size * 1.5;
  }
  .item-container {
    width: 100%;

    .item-title {
      font-size: $desktop-font-size * 1.5;
    }
    .item-sub-title {
      font-size: $mobile-font-size * 1.3;
    }

    img {
      width: 60px;
      height: 60px;
    }
  }
}


