@import "./base/reset";

// Typography
$base-font-size: 16px;
$font-size-sm: 14px;
$font-size-md: $base-font-size;
$font-size-lg: 18px;
$font-size-xl: 24px;
$font-size-xxl: 32px;

$font-weight-medium: 500;
$font-weight-bold: 700;

// Colors
$background-color: #243a77;
$gradient-color: #110d1d;
$text-color-white: #ffffff;
$text-color-subtitle: #b4c0de;
$item-background-color: #1b3254;

// Breakpoints
$breakpoint-sm: 450px;
$breakpoint-md: 700px;
$breakpoint-lg: 1000px;

// Spacing
$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2rem;

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin responsive-font($min-size, $max-size, $min-width, $max-width) {
  font-size: calc(
    #{$min-size} + #{strip-unit($max-size - $min-size)} *
      ((100vw - #{$min-width}) / #{strip-unit($max-width - $min-width)})
  );

  @media (max-width: $min-width) {
    font-size: $min-size;
  }

  @media (min-width: $max-width) {
    font-size: $max-size;
  }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

// Base Styles
body {
  font-size: $base-font-size;
  line-height: 1.6;
  background: radial-gradient(at 60% 35%, $background-color, $gradient-color);
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 90vh;
}

// Main Content Styles
.main-content {
  padding-top: $spacing-lg;
  max-width: 430px;
  margin: 0 auto;

  .page-title {
    @include responsive-font(
      $font-size-lg,
      $font-size-xxl,
      $breakpoint-sm,
      $breakpoint-lg
    );
    font-weight: $font-weight-bold;
    line-height: 1.2;
    text-align: center;
    color: $text-color-white;
  }

  .page-sub-title {
    @include responsive-font(
      $font-size-sm,
      $font-size-lg,
      $breakpoint-sm,
      $breakpoint-lg
    );
    font-weight: $font-weight-medium;
    line-height: 1.4;
    text-align: center;
    color: $text-color-subtitle;
  }

  .item-container {
    background-color: $item-background-color;
    padding: $spacing-md;
    border-radius: 25px;
    width: 90%;
    margin: $spacing-md auto;

    .item-title {
      @include responsive-font(
        $font-size-md,
        $font-size-xl,
        $breakpoint-sm,
        $breakpoint-lg
      );
      font-weight: $font-weight-bold;
      line-height: 1.2;
      text-align: center;
      color: $text-color-white;
      margin: 0;
    }

    .item-sub-title {
      @include responsive-font(
        $font-size-sm,
        $font-size-md,
        $breakpoint-sm,
        $breakpoint-lg
      );
      font-weight: $font-weight-medium;
      line-height: 1.4;
      text-align: center;
      color: $text-color-white;
    }

    img {
      width: 50px;
      height: 50px;
      @media (min-width: $breakpoint-md) {
        width: 60px;
        height: 60px;
      }
    }
  }
}

// Responsive adjustments
@media screen and (min-width: $breakpoint-lg) {
  .main-content {
    max-width: 520px;
  }
}
