@import "../../Common/chartMaker/chart.scss";

html {
  font-size: 62.5% !important; //this makes each rem to be 10px when the font size of browser has been set to 16px
  height: auto !important;
}
body {
  background: #14121c;
  background-repeat: no-repeat;
  height: auto !important;
  min-height: 100vh !important;
}
main {
  max-width: 380px;
  padding: 36px 25px;
  background: linear-gradient(
    to bottom,
    $main_background_from,
    $main_background_to
  );
  background-repeat: no-repeat;
}
nav.mini-nav {
  margin-bottom: 30px;

  .setting-around {
    padding: 15px;
    background-color: $setting_back;
    cursor: pointer;
  }
}

.navigateBtn {
  @include CommonNavigate();
}

.wallet-details {
  @include flex(column, none, none, none);
  span {
    @include typography(1.8rem, 500, $small-title, none);
  }

  .wallet-balance {
    @include flex(row, space-between, none, none);
    #balance {
      @include typography(3.2rem, 700, $white_text, 3.2rem);
    }
    #balance-status {
      font-size: 1.4rem;
    }
    #balance-status.up {
      color: $success-green;
    }
    #balance-status.down {
      color: $fail-red;
    }
  }
}

.interaction-btns {
  @include flex(row, space-between, none, none);
  .wallet-btn {
    @include flex(row, center, center, none);
    width: 57px;
    height: 57px;
    border: 1px solid #ffffff08;
    background-color: $primary_back_gray;
    border-radius: 100%;
    border-top: 1px solid #006eff47;
    backdrop-filter: blur(3px);
  }
  .interBtn_container {
    span {
      @include typography(1.4rem, 700, $white_text, 1.8rem);
    }
  }
}

.control-segment {
  background-color: #26272b;
  border-radius: 25px;
  height: 60px;
  margin-top: 40px;

  .btn-toggle {
    width: calc(50% - 2px);
    height: 100%;
    border-radius: 25px;
    border: none !important;
    @include typography(1.6rem, none, none, 2.4rem);

    .badge {
      background-color: #e4761b;
      @include typography(1.4rem, 400, none, none);
      margin-left: 5px;
    }
  }
  .btn-toggle.active {
    background-color: $main_blue;
    color: $white_text;
    font-weight: 700;
  }
  .btn-toggle.inactive {
    color: $small-title;
    font-weight: 500;
  }
}

.coins-section {
  @include flex(column, none, none, 8px);
}
.coin {
  height: 64px;
  @include flex(row, space-between, none, none);

  .coin_details {
    @include flex(row, none, center, 16px);
  }
  .coin_details_text {
    @include flex(column, none, none, 8px);

    .coin-name {
      @include typography(1.4rem, 700, $white_text, 1.9rem);
    }
    abbr {
      @include typography(1.2rem, 400, $small-title, none);
      text-decoration: none !important;
    }
  }
  .coinMarket {
    @include flex(row, none, center, 22px);
  }
  .coinWorth {
    .coinPrice {
      @include flex(column, none, none, 8px);
      @include typography(1.4rem, 700, $white_text, 1.9rem);
    }
    .coinStatus {
      font-size: 1.2rem;
      text-align: right;
    }
    .coinStatus.up {
      color: $success-green;
    }
    .coinStatus.down {
      color: $fail-red;
    }
  }
  .chartCont {
    width: 70px;
  }

  .apexcharts-canvas.increase {
    @include colorPicker($success-green);
  }
  .apexcharts-canvas.decrease {
    @include colorPicker($fail-red);
  }
  .apexcharts-canvas.equal {
    @include colorPicker(#ccd911);
  }
}

#balance-status {
  i {
    font-family: "Font Awesome 6 Free" !important;
    margin-right: 5px;
  }
  i.fa-caret-up {
    vertical-align: middle;
  }
}

#buyModal {
  background-color: #14121c;
  scrollbar-width: thin;
  scrollbar-color: #888;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 2px solid #ccc;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  .modal-dialog {
    margin: 0 auto;
  }
  .modal-content {
    background: #14121c;
    max-width: 380px;
    margin: 0 auto;
  }
  .modal-body {
    padding: 0;
  }

  nav.mini-nav {
    margin: 36px 0;

    .setting-around {
      padding: 15px;
      background-color: $setting_back;
      cursor: pointer;
    }
    h1 {
      color: #fff;
      font-size: 2.4rem;
      font-weight: 700;
      height: 57px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .wallet-details {
    @include flex(column, none, center, none);
    span {
      @include typography(1.8rem, 500, $small-title, 2rem);
    }

    .wallet-balance {
      #buy-balance {
        @include typography(3.2rem, 700, $white_text, 3.2rem);
      }
    }
  }

  .head-span {
    @include typography(1.8rem, 500, $small-title, none);
  }

  #buy-navigateBtn {
    background-color: rgba(255, 255, 255, 0.0509803922);
    font-size: 1.6rem;
    font-weight: 700;
    color: #ffffff;
    line-height: none;
    border-radius: 21px;
    z-index: 1;
    border: 1px solid gray;
    text-align: center;
    position: relative;
    img {
      transform: rotate(-90deg);
    }
    a {
      padding: 15px 46px 15px 46px;
      border: 1px solid rgba(255, 255, 255, 0.1411764706);
      backdrop-filter: blur(3px);
      border-radius: 21px;
      z-index: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: none;
      gap: 8px;
    }
    #buy-navigateText {
      width: 140px !important;
    }
  }

  section.countSection {
    @include flex(column, none, center, none);
    padding: 20px;
    background-color: $part-back-gray;
    border-radius: 30px;

    .input-container {
      @include flex(row, none, center, none);
      @include inputContainer();
      height: 55px;
      #buy-walletInput {
        @include inputStyle();
      }

      .wallet-svg {
        flex-shrink: 0;
      }

      .buy-dollar-sign {
        @include typography(1.6rem, 700, none, none);
        opacity: 0;
        margin-left: 20px;
      }

      .buy-dollar-sign.focus {
        opacity: 1;
      }

      #buy-wallet-icon.focus {
        fill: $main_blue;
      }
    }

    .quick-select {
      button {
        @include typography(2.4rem, 700, $small-title, none);
        border-radius: 20px;
        border: 1px solid #8c8cab33;
        padding: 12px 0;
        transition: all linear 0.3s;
      }
      button:hover {
        color: $main_blue;
        border-color: $main_blue;
      }
    }
  }

  .input-container.focus {
    border-color: $main_blue !important;
  }

  #buy-btn,
  #currency-btn {
    @include typography(1.6rem, 700, none, none);
    margin-top: 30px;
    padding: 15px 39px;
    border-radius: 25px;
    box-shadow: 0 0 15px #0c61ec57;
  }

  section.pop-up-background {
    @include flex(row, center, center, none);
    z-index: 90;
    padding: 0 20px;

    .pop-up {
      @include flex(column, none, center, none);
      background-color: $part-back-gray;
      border-radius: 30px;
      padding: 25px 30px 0px;

      #currency-input {
        @include inputStyle();
        margin-left: 20px;
      }

      .input-container {
        @include flex(row, none, center, none);
        @include inputContainer();
      }

      #search-svg {
        flex-shrink: 0 !important;
      }

      .checkboxes {
        padding: 20px 6px;
      }

      .checkbox-container {
        overflow-y: scroll;
        max-height: 230px;
      }
      .form-check {
        width: 100%;
        display: flex;
        margin-bottom: 30px;
      }
      .form-check-input {
        width: 25px;
        height: 25px;
        border-radius: 7px;
      }
      .form-check-input:checked {
        background-color: $main_blue;
        border-color: $main_blue;
      }

      .form-check-label {
        @include typography(1.6rem, 500, $small-title, none);
        margin-left: 15px;
      }

      .xmark {
        border-radius: 100%;
        background-color: #303134;
        width: 35px;
        height: 35px;
        @include flex(row, center, center, none);
        color: $small-title;
        align-self: flex-end;
        margin-bottom: 20px;
        cursor: pointer;
      }
    }
  }

  .fa-solid {
    font-family: "Font Awesome 6 Free" !important;
  }
}

#receiveModal {
  background-color: #14121c;
  .modal-dialog {
    margin: 0 auto;
  }
  .modal-content {
    background: #14121c;
    max-width: 380px;
    margin: 0 auto;
  }
  .modal-body {
    padding: 0;
  }

  nav.mini-nav {
    margin: 36px 0;

    .setting-around {
      padding: 15px;
      background-color: $setting_back;
      cursor: pointer;
    }
    h1 {
      color: #fff;
      font-size: 2.4rem;
      font-weight: 700;
      height: 57px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  #rec-navigateBtn {
    background-color: rgba(255, 255, 255, 0.0509803922);
    font-size: 1.6rem;
    font-weight: 700;
    color: #ffffff;
    line-height: none;
    border-radius: 21px;
    z-index: 1;
    border: 1px solid gray;
    text-align: center;
    position: relative;
    img {
      transform: rotate(-90deg);
    }
    a {
      padding: 15px 46px 15px 46px;
      border: 1px solid rgba(255, 255, 255, 0.1411764706);
      backdrop-filter: blur(3px);
      border-radius: 21px;
      z-index: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: none;
      gap: 8px;
    }
    #rec-navigateText {
      width: 140px !important;
    }
  }
  .coin-details {
    margin-bottom: 60px;
    @include flex(column, none, center, none);

    span {
      @include typography(1.8rem, 500, $small-title, 2rem);
    }

    .wallet-balance {
      #balance {
        @include typography(3.2rem, 700, $white_text, 3.2rem);
      }
    }
    #received-name {
      color: $white_text;
    }
  }

  .navigateBtn {
    @include CommonNavigate();

    #network-type {
      margin-top: -40px;
      @include typography(1.8rem, 500, $small-title, none);
    }
    img {
      transform: rotate(-90deg);
    }
    #navigateText {
      width: 140px !important;
    }
  }

  .head-span {
    @include typography(1.8rem, 500, $small-title, none);
  }

  #rec-share-btn {
    // margin-top: 5px;
    padding: 15px 39px;
    border-radius: 25px;
    @include typography(1.6rem, 700, none, none);
    box-shadow: 0 0 15px #0c61ec57;
  }

  .fa-solid {
    font-family: "Font Awesome 6 Free" !important;
  }

  .receive-add {
    margin-top: 30px;
    @include flex(column, none, center, 20px);

    #qr-code {
      width: 160px;
      height: 160px;
    }

    #rec-dest-link {
      @include typography(1.6rem, 500, $small-title, none);
    }

    #rec-copyBtn {
      border: 1px solid #ffffff24;
      width: 100%;
      padding: 13px 0;
      border-radius: 25px;
      @include flex(row, center, none, none);
    }
  }
}

#sendModal {
  background-color: #14121c;
  .modal-dialog {
    margin: 0 auto;
  }
  .modal-content {
    background: #14121c;
    max-width: 380px;
    margin: 0 auto;
  }
  .modal-body {
    padding: 0;
  }

  nav.mini-nav {
    margin: 36px 0;

    .setting-around {
      padding: 15px;
      background-color: $setting_back;
      cursor: pointer;
    }
    h1 {
      color: #fff;
      font-size: 2.4rem;
      font-weight: 700;
      height: 57px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  #send-navigateBtn {
    background-color: rgba(255, 255, 255, 0.0509803922);
    font-size: 1.6rem;
    font-weight: 700;
    color: #ffffff;
    line-height: none;
    border-radius: 21px;
    z-index: 1;
    border: 1px solid gray;
    text-align: center;
    position: relative;
    img {
      transform: rotate(-90deg);
    }
    a {
      padding: 15px 46px 15px 46px;
      border: 1px solid rgba(255, 255, 255, 0.1411764706);
      backdrop-filter: blur(3px);
      border-radius: 21px;
      z-index: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: none;
      gap: 8px;
    }
    #send-navigateText {
      width: 200px !important;
    }
  }
  .wallet-details {
    @include flex(column, none, center, none);
    margin-bottom: 50px;
    span {
      @include typography(1.8rem, 500, $small-title, 2rem);
    }

    .wallet-balance {
      @include flex(row, space-between, none, none);
      #send-balance {
        @include typography(3.2rem, 700, $white_text, 3.2rem);
      }
    }
  }

  .navigateBtn {
    @include CommonNavigate();

    #send-network-type {
      margin-top: -40px;
      @include typography(1.8rem, 500, $small-title, none);
    }
    img {
      transform: rotate(-90deg);
    }
    #send-navigateText {
      width: 140px !important;
    }
  }

  .head-span {
    @include typography(1.8rem, 500, $small-title, none);
  }

  .input-container {
    @include flex(row, none, center, none);
    @include inputContainer();
    background-color: $part-back-gray !important;

    #send-walletInput,
    #send-amountInput {
      @include inputStyle();
      @include typography(1.4rem, 400, $white_text, 1.8rem);
    }

    .wallet-svg {
      flex-shrink: 0;
      margin-right: 20px;
    }

    #send-wallet-icon.focus,
    #send-money-icon.focus {
      fill: $main_blue;
    }
  }

  .send-input-container.focus {
    border-color: $main_blue !important;
  }
  .send-input-container-2.focus {
    border-color: $main_blue !important;
  }

  #send-btn {
    margin-top: 40px;
    padding: 15px 39px;
    border-radius: 25px;
    @include typography(1.6rem, 700, none, none);
    box-shadow: 0 0 15px #0c61ec57;
  }

  .fa-solid {
    font-family: "Font Awesome 6 Free" !important;
  }
}

#swapModal {
  background-color: #14121c;
  .modal-dialog {
    margin: 0 auto;
  }
  .modal-content {
    background: #14121c;
    max-width: 380px;
    margin: 0 auto;
  }
  .modal-body {
    padding: 0;
  }
  nav.mini-nav {
    margin: 26px 0 0 0;

    .setting-around {
      padding: 15px;
      background-color: #26272b;
      cursor: pointer;
    }
    h1 {
      color: #fff;
      font-size: 2.4rem;
      font-weight: 700;
      height: 57px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .head-span {
    font-size: 1.6rem;
    font-weight: 500;
    color: $small-title;
  }

  .exchange {
    .currency-name {
      font-weight: 500;
      font-size: 1.8rem;
      color: #fff;
    }
    .currency-wallet-amount {
      font-weight: 700;
      font-size: 3.7rem;
      color: #fff;
    }
    .currency-status {
      font-weight: 500;
      font-size: 1.4rem;
      color: $fail-red;
    }

    .currency-container {
      padding: 22px;
      background-color: $part-back-gray;
      border-radius: 25px;
    }
    .currency-container#you-pay-section {
      border-bottom: 1px solid $main_blue;
    }
    .currency-container#you-receive-section {
      border-top: 1px solid $main_blue;
    }

    .changeBtnAround {
      width: 80px;
      height: 80px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      backdrop-filter: blur(20px);
      bottom: -106px;
      z-index: 999;
      // background: radial-gradient();

      .changeBtnBack {
        background-color: $main_blue;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 54px 10px $main_blue;
        cursor: pointer;
      }
    }
  }

  .exchange-fee {
    .fee-numbers {
      padding-right: 15px;

      span {
        font-size: 1.5rem;
        font-weight: 700;
        color: #fff;
      }
    }
  }

  #exchange-btn {
    margin-top: 10px;
    padding: 10px 39px;
    border-radius: 25px;
    font-size: 1.6rem;
    font-weight: 700;
    box-shadow: 0 0 15px #0c61ec57;
  }

  .fa-solid {
    font-family: "Font Awesome 6 Free" !important;
  }
}
.modal .btn-close {
  background-color: #26272b;
  color: white;
  padding: 15px;
  border-radius: 100%;
  --bs-btn-close-bg: none !important;
  position: absolute;
  left: 1%;
  font-size: 20px;
  width: 30px;
  height: 30px;
  font-weight: 700;
  transform: rotate(180deg);
}
